{% extends 'base.html.twig' %}
{% block title%}Images{% endblock %}
{% block body%}
    <!-- Principal Content Start -->
    <div id="images">
        <div class="container">
            <div class="col-xs-12 col-sm-8 col-sm-push-2">
                <h1>Images</h1>
                {{ form(form, {'attr': {'class':'form-horizontal'}}) }}
                <hr class="divider">

                <h2>Uploaded Images</h2>
                <ul>
                    {% for image in images %}
                        <li>
                            <img src="{{ asset('images/index/gallery/' ~ image.file) }}" alt="{{ image.file }}">
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
    <!-- Principal Content Start -->
{% endblock %}
